.home {
  margin: 24px;
}

/* create new post  */
.create-post {
  background: #ffff;
  border-radius: 10px;
  padding: 16px 24px;
  border: 1px solid #f5f5f5;
  margin-bottom: 24px;
}

textarea {
  height: 20px;
  padding: 10px;
  background: var(--smoke);
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  border: none;
  outline-color: #f5f5f5;
  resize: none;
  width: 100%;
}
.create-post label {
  display: inline;
}
.create-post svg {
  width: 25px;
  margin: 0 8px;
  color: var(--gray);
  cursor: pointer;
}
.create-post .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.create-post button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--smoke);
  border: none;
  width: 100px;
  padding: 8px 0;
  border-radius: 5px;
  cursor: pointer;
}
.create-post-header {
  display: flex;
  gap: 10px;
}
button.edit {
  background: none;
}
button.edit svg {
  width: 20px;
}
.form-btn {
  display: flex;
  align-items: center;
}

/* dark mode  */
.create-post.dark {
  background: var(--dark-300);
  border: 1px solid var(--dark-100);
}
.create-post.dark input,
.dark textarea {
  background: var(--dark-200);
  outline-color: var(--dark-100);
}
.create-post.dark button {
  color: #fff;
  background: var(--dark-100);
}
.create-post.dark button.edit {
  background: none;
}

/* media query   */
@media (max-width: 550px) {
  .create-post-header {
    display: initial;
  }
  .create-post .action {
    flex-direction: column;
    align-items: flex-start;
  }
}
