nav {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  align-items: center;
  background: #fff;
  border: 1px solid #f5f5f5;
}
nav .logo {
  display: flex;
  align-items: center;
  margin-right: 24px;
  gap: 10px;
}
nav ul {
  display: flex;
  align-items: center;
  background: var(--smoke);
  border-radius: 5px;
  padding: 8px;
}
nav a {
  display: inline-block;
  color: var(--black);
  padding: 5px 16px;
  font-size: 14px;
  border-radius: 3px;
}
nav a.active {
  background: #fff;
}
nav svg {
  width: 30px;
}
nav button svg {
  width: 20px;
}
nav .more {
  margin-left: auto;
  display: flex;
  align-items: center;
}
nav .action {
  background: var(--smoke);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0 8px;
  border: none;
  cursor: pointer;
}

nav .user {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  gap: 10px;
  margin-left: 16px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
nav .user span {
  font-size: 16px;
}
nav .burger {
  margin-right: 16px;
  border: 1px solid #f5f5f5;
  background: var(--smoke);
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

/* dark mode */
nav.dark {
  background: var(--dark-300);
  border: 1px solid var(--dark-100);
  color: #fff;
}
nav.dark .action {
  background: var(--dark-200);
}
nav.dark .action svg {
  color: #fff;
}
nav ul.dark {
  background: var(--dark-200);
}
nav ul a.dark {
  color: #fff;
}
nav ul a.dark.active {
  background: var(--dark-100);
  color: #fff;
}
nav.dark button span {
  color: #fff;
}
nav.dark .burger {
  background: var(--dark-400);
  border: 1px solid var(--dark-100);
}
nav.dark .burger svg {
  color: #fff;
}

@media (max-width: 890px) {
  nav .logo {
    display: none;
  }
}
@media (max-width: 690px) {
  nav .user span {
    display: none;
  }
}
@media (max-width: 550px) {
  nav .action {
    display: none;
  }
}
