.sidebar {
  border: 1px solid #f5f5f5;
  padding: 24px;
  width: 250px;
  background: #fff;
  height: 100vh;
}
/* logo theme color  */
.sidebar .logo span {
  font-size: 30px;
  font-weight: bold;
}
.sidebar .logo span.color-b70233 {
  color: #b70233;
}
.sidebar .logo span.color-2a85fe {
  color: #2a85fe;
}
.sidebar .logo span.color-249c6b {
  color: #249c6b;
}
.sidebar ul {
  margin: 24px 0;
}
.sidebar li a {
  display: inline-block;
  padding: 10px;
  margin: 24px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}
.sidebar li a.dark {
  color: #fff;
}
/* hover color  */
.sidebar li a.color-b70233:hover {
  color: #b70233;
}
.sidebar li a.color-2a85fe:hover {
  color: #2a85fe;
}
.sidebar li a.color-249c6b:hover {
  color: #249c6b;
}
/* active color  */
.sidebar li a.active {
  background: var(--smoke);
}
.sidebar li a.color-249c6b.active {
  color: #249c6b;
}
.sidebar li a.color-b70233.active {
  color: #b70233;
}
.sidebar li a.color-2a85fe.active {
  color: #2a85fe;
}
.sidebar li a.active.dark {
  background: var(--dark-100);
}
.sidebar svg {
  width: 25px;
}
/* dark mode  */
.sidebar.dark {
  border: 1px solid var(--dark-100);
  background: var(--dark-300);
}
