@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

/* variables */
:root {
  --blue: #2a85fe;
  --smoke: #f9f9f9;
  --black: #17191d;
  --gray: #8d9196;
}

/* base styles */
body {
  font-family: "Open Sans", sans-serif;
  background: var(--smoke);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--black);
}

/* layout */
.btn {
  background: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--blue);
  cursor: pointer;
  border: 1px solid var(--blue);
}
.btn:hover {
  color: #fff;
  background-color: var(--blue);
}

/* forms */
label {
  display: block;
  margin: 24px auto;
}
label span {
  display: block;
  margin-bottom: 6px;
}
input,
textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
textarea {
  min-height: 160px;
}
.error {
  display: block;
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
  font-size: 12px;
}
